name: Azure Auth Test
on:
  push:
    tags:
      - 'v*' # This triggers the build whenever you push a tag like v1.0.1

jobs:
  test-azure-connection:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get Certificate String from Key Vault
        uses: azure/get-keyvault-secrets@v1
        with:
          keyvault: ${{ secrets.AZURE_KEYVAULT_NAME }}
          secrets: ${{ secrets.AZURE_PFX_SECRET_NAME }}
        id: kv_fetch

      - name: Verify Secret Fetch
        run: echo "Successfully retrieved ${{ secrets.AZURE_PFX_SECRET_NAME }} from Key Vault!"